/* OrderOnline.css */
  .order-online-container {
    text-align: center;
    padding: 25px;
    margin-bottom: 5rem;
  }

  .order-online-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  .order-online-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
  }

  .order-button-container {
    margin-top: 20px;
  }

  .order-button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .order-button:hover {
    background-color: #555;
  }

@media screen and (min-width: 1024px) and (max-width: 1439px){
  .order-online-container {
    /* text-align: center; */
    padding: 50px;
    margin-top: 6rem;
    margin-bottom: 11.9rem;
  }
}